<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='web_style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    
</head>
<body  style="">

<div style="background: rgba(255,255,255,0.5);width: 100%;margin: 0">

<div id="head" style="color: black">
    <div class="head_title">
        <h1 style="color: #212121">Online Reservation</h1>
    </div>
    <div class="navigation">
        <div id="horizontalTab">
            <ul id="navigation_list">
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>Home</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>Ticket Booking</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>Register</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>Login</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>Personal Center</span></a>
            </ul>
        </div>
    </div>
    <div class="admin">
        <div class="sap_table">
            <div class="admin-table">
                <div class="admin-table-list">
                    <a class="admin-table-item" onclick=AdminSignIn()><span>Admin System</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<hr />
</div>
<div class="body_content" >
{#    <div class="content_top"style="width: 100%">#}
{#        <div class="top_img" style="width: 100%;position: absolute">#}
{#            <img src="../../static/6.PNG">#}
{#        </div>#}
{#    </div>#}
    <div class="title">
        <h1 style="color:#363636;font-size: 2.1em">Login</h1>
    </div>
    {% for msg in get_flashed_messages()  %}
        <p style="color: #cd0a0a; text-align: center">{{ msg }}</p>
    {% endfor %}
    <div class="singin_local">
        <div class="signin_form">
            <form class="vipsign" action="{{ url_for('web.login',next=request.args.next)  }}" method="post">
                        <table style="width: 100%">

                            <tr style="height: 30px">
                                <td style="color:#363636">{{ form.nickname.label }}</td>  <td>{{ form.nickname }}</td>
                            </tr>
                            <tr style="height: 30px">
                                 <td style="color: #363636">{{ form.password.label }}</td>  <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <input type="submit" value="login" style="margin-left: 25%">
                    </form>
        </div>
    </div>
</div>


</div>
<script>
    function AdminSignIn() {
	    window.location.replace('{{ url_for('admin.login') }}');

    }
</script>

</body>
</html>